<div id="ad-form-settings">
	<h2>
		Facebook ads
		<a class="btn btn-primary pull-right" ng-click="fb.create()">New</a>
	</h2>
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>FB post id</th>
				<th>Date</th>
				<th>Listings</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in fb.ads">
				<td><a ng-href="http://www.facebook.com/{{a._id}}" target="_blank">{{a._id}}</a></td>
				<td>{{a.creationDate | date: 'MM/dd/yyyy HH:mm'}}</td>
				<td><ul>
					<li ng-repeat="l in a.listings"><a ui-sref="listing.view(l)" target="_blank">{{l.name}}</a></li>
				</ul></td>
			</tr>
		</tbody>
	</table>
</div>
