<div class="panel-heading">
	<h3 class="panel-title">Set new password</h3>
</div>
<div class="panel-body">
	<form role="form" name="form" ng-submit="reset($event)">
		<div class="form-group" ng-class="{'has-error': form.password.$invalid}">
			<input type="password" name="password" class="form-control" placeholder="New password" autofocus ng-model="password" ng-required="true" />
		</div>

		<div class="form-group" ng-class="{'has-error': form.confirm.$invalid}">
			<input type="password" name="confirm" class="form-control" placeholder="Confirm new password" ng-model="confirm" ng-required="true" match="password" />
		</div>

		<button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="form.$invalid || loading">Set password</button>
	</form>
</div>
